* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
input,
button,
textarea,
select {
  border: none;
  outline: none;
}

.container__lg {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

body {
  padding-top: 70px;
  height: 500vh;
}
